#div1 {height: 614px;
		width: 50%;
		float: left}

#div2 {height: 614px;
		width: 50%;
		float: left}

body {margin-top: 0px;
	  margin-left: 0px;
	  margin-right: 0px}

#table2 {margin-top: 20px}

#table1 {margin-top: 20px}

fieldset {margin-top: 230px;
		 margin-left: 50px;
		 height:150px;
		 width: 520px;
		 border: 0px;
		 border-radius: 10px}

label {font-size: 30px}

input {height: 30px;
	   width: 300px;
	   font-size: 25px}

strong {font-size: 25px}

